<ul class="nav navbar-nav navbar-right">
    <li id="fat-menu" class="dropdown">
        <a id="drop" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="true">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="drop">
            <li class="disabled"><a href="#"><i class="icon-pencil"></i>Share URL</a></li>
            <li class="divider"></li>
            <li class="disabled"><a href="#"><i class="icon-trash"></i>Make Public</a></li>
            <li class="divider"></li>
            <li class="disabled"><a href="#"><i class="icon-ban-circle"></i>Embed</a></li>
            <li class="divider"></li>
            <li class="disabled"><a href="#"><i class="icon-pencil"></i>Export</a></li>
            <li class="divider"></li>
            <li><a href="#" data-ng-click="onRefreshClicked(item.id)" data-ng-model="item"><i class="icon-trash"></i>Refresh</a></li>
            <li class="divider"></li>
            <li class="disabled"><a href="#"><i class="icon-ban-circle"></i>Edit</a></li>
            <li class="divider"></li>
            <li class="disabled"><a href="#"><i class="icon-ban-circle"></i>Duplicate</a></li>
            <li class="divider"></li>
            <li class="disabled"><a href="#"><i class="icon-ban-circle"></i>Delete</a></li>
        </ul>
    </li>
</ul>
